{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
  <script src="../../js/script.js"></script>
  <script src="../../js/jquery.mobile.custom.min.js"></script>
  <script src="../../js/modernizr.js"></script>
  <script src="../../js/main.js"></script>
  <script>
  function openNav() {
      document.getElementById("mySidenav").style.width = '30%';
      document.getElementById("main").style.marginLeft = "40%";
      document.getElementById("footer").style.marginLeft = "30%";

  }

  function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main").style.marginLeft= "0";
      document.getElementById("footer").style.marginLeft = "0";
  }

  $(window).on('resize', function() {
    if($(window).width() > 500) {
        document.getElementById("mySidenav").style.width = '100%';
    }
})
  </script>
</head>

<body>
		<header id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      {{ craft.amNav.getNav("primary") }}
      {% for node in nav %}
        <a class="header__nav__link" href="{{node.url}}" alt="{{node.name}}"></a>
      {% endfor %}
		</header>
		<main id="main" role="main">
      <span class="openbtn" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

      <div class="login__check">
        {% if currentUser %}
          <p>Logged in as <b>{{currentUser.username}}</b></p>
        {% endif %}
      </div>

			{% block content %}
				<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
				<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
			{% endblock %}

      {% if craft.session.isLoggedIn %}
        <a class="button" href="{{ logoutUrl }}">Logout</a>
      {% endif %}

		</main>

		<footer id="footer">
      <h2>{{siteName}}</h2>
      <p>Have any questions? Check our our <a href="http://localhost/softwareintegration/public/faq">FAQ Page.</a></p>

      <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="../style.css">
		</footer>
</body>
</html>
