{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
</head>

<body>
		<header>
      {{ craft.amNav.getNav("primary") }}
      <ul>
        {% for node in nav %}
          <li class="header__nav__item"><a class="header__nav__link" href="{{node.url}}" alt="{{node.name}}"></a></li>
        {% endfor %}
      </ul>
		</header>
		<main role="main">
      <div class="login__check">
        {% if currentUser %}
          <p>Logged in as <b>{{currentUser.username}}</b></p>
        {% endif %}
      </div>
			{% block content %}
				<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
				<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
			{% endblock %}
      {% if craft.session.isLoggedIn %}
        <a class="button" href="{{ logoutUrl }}">Logout</a>
      {% endif %}
		</main>

		<footer>
      <h1>{{site.title}}</h1>
      <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="../style.css">
		</footer>
</body>
</html>
