footer {
  height: 10%;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  color: white;
  position: absolute;
  text-align: center;
  transition: .5s;
  display: none;
}
footer a {
  color: white;
}
footer a:visited {
  color: white;
}
