header {
  background-color: rgb(60, 179, 113);
  position: fixed;
  left: 0;
  top: 0;
  width: 0;
  overflow-x: hidden;
  transition: .5s;
  z-index: 1;
  height: 100%;
  /*height: 100%;*/

}
header ul {
  list-style-type: none;
  margin: 0;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header li {
  margin-top: 1em;
  border-bottom: 1px lightgray;
}
header li a {
  text-decoration: none;
  display: block;
  color: #f1f1f1;
  transition-timing-function: linear;
  transition-duration: .5s;
}
header li a:visited {
  color: #f1f1f1;
}

header li a:hover {
  text-decoration: underline;
  transition: 1;
}
.closebtn {
  color: white;
  text-decoration: none;
  margin-left: 80%;
  top: .25em;
  position: absolute;
  font-size: 1.5em;
}

@media only screen and (min-width: 500px) {

  .login {
    border: 2px solid white;
    border-radius: 8px;
    padding: 5px;
  }
  .login:hover {
    color: rgb(60, 179, 113);
    background-color: white;
  }
  .login a:hover {
    color: rgb(60, 179, 113);
    text-decoration: none;
  }
  header {
    width: 100%;
    height: 10%;
    top: 0;
    right: 0;
    left: 0;
    margin-bottom: 1em;
    position: relative;
  }
  header ul {
    flex-direction: row;
  }
  .login {
    margin-top: .5em;
  }
  .openbtn {
    display: none;
  }
  .closebtn {
    display: none;
  }

}
